#ul{
    list-style: none;
}
._fullHD{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.clickForm{
    color:red;
    font-size: 17px;
}
#categoryStyle{
    padding: 0px;
}
#townStyle{
    padding: 0px;
}
.footer{
    text-align: center;
    color: #ffffff;
}
div p button{
    width: 120px;
    height: 50px;
}
