#ul{
    list-style: none;
}
._fullHD{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.clickForm{
    color:red;
    font-size: 17px;
}
#categoryStyle{
    padding: 5px;
}
#townStyle{
    padding: 5px;
}