<div id="login-form" class="dialog-box">
    <h1>Confirm Deleting Ad?</h1>
    <p>
        <label>Title...</label>
        <label>Date...</label>
    </p>
    <p>
        <input type="text" id="image" />
        <input type="text" id="text" />
    </p>
    <p>
        <label for="category">Category:</label>
        <input type="text" id="category" />
    </p>
    <p>
        <label for="town">Town:</label>
        <input type="text" id="town" />
    </p>
    <p class="buttons">
        <a href="#" class="button">Delete</a>
        <a href="#" class="button">Cancel</a>
    <p>
</div>