<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>BG Shop</title>
<link rel="stylesheet" href="styles.css"/>
</head>
<body>
<div id="login-form" class="dialog-box">
    <h1>Publish New Ad</h1>
    <p>
        <label for="title">Title:</label>
        <input type="text" id="title" />
    </p>
    <p>
        <label for="text">Text:</label>
        <input type="text" id="text" />
    </p>
    <p>
        <label for="image">Image:</label>
        <input type="text" id="image" />
        <a href="#" class="button">Browse...</a>
    </p>
    <p>
        <label for="category">Category:</label>
        <input type="text" id="category" />
    </p>
    <p>
        <label for="town">Town:</label>
        <input type="text" id="town" />
    </p>
    <p class="buttons">
        <a href="#" class="button">Publish</a>
        <a href="#" class="button">Cancel</a>
    <p>
</div>
</body>
</html>