<div class="jumbotron">
    <div class="navbar navbar-inverse">
        <div class="navbar-footer" ng-controller="userController">
            <h5 class="footer" id="usernameLog">WELCOME!</h5>
        </div>
    </div>
    <div class="row" >
        <div class="col-md-2">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Navigation</h3>
                </div>
                <div class="panel-body">
                    <a href="#/user">Home</a>
                </div>
                <div class="panel-body">
                    <a href="#/newAdv">Published New Ad</a>
                </div>
                <div class="panel-body">
                    <a href="#/editProfile">Edit Profile</a>
                </div>
                <div class="panel-body">
                    <a href data-ng-click="logout()" ng-controller="regLogController">Logout</a>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">My Ads</h3>
                </div>
                <div class="panel-body">
                    <a href="#/adsLogged">All</a>
                </div>
                <div class="panel-body">
                    <a href="#">Published</a>
                </div>
                <div class="panel-body">
                    <a href="#">Waiting Approval</a>
                </div>
                <div class="panel-body">
                    <a href="#">Inactive</a>
                </div>
                <div class="panel-body">
                    <a href="#">Rejected</a>
                </div>
            </div>
        </div>

<!--<section class="col-xs-12 col-sm-10" style="display: inline-block;position: relative">
    <ul>
        <li ng-repeat="ad in adsByUser|filter:choiseTypeAd.status" class="row userAd">
            <div class="col-xs-12 col-sm-10 divInfoAdUser">
                <div class="pull-left"><h2>{{ad.title}}</h2></div>
                <div class="pull-right">{{ad.date|date:'dd-MMM-yyyy'}}</div>
                <div class="clearfix"></div>
                <div class="imageDiv"><img ng-src="{{ad.imageDataUrl}}" alt="No image from user!" style="width: 100%" /></div>
                <div class="textDiv">
                    {{ad.text}}
                </div>
                <div class="infoDiv">
                    <div style="margin: 10px;">
                        <h4>Town: </h4><span class="spanText2">{{ad.townName}}</span>
                    </div>
                    <div style="margin: 10px;">
                        <h4>Category: </h4><span class="spanText2">{{ad.categoryName}}</span>
                    </div>
                </div>
            </div>-->


            <div class="col-md-8" ng-controller="AdsController">
                <ul id="ul">
                    <li ng-repeat="ad in adsByUser|filter:choiseTypeAd.status" class="row userAd">
                        <div class="container well">
                            <div class="row">
                                <div class="col-md-7 divInfoAdUser">
                                    <h3 class="pull-left">{{ad.title}}</h3>
                                </div>
                                <div class="col-md-5">
                                    <span class="pull-right">{{ad.date | date: 'd-MMM-yyyy'}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="image-container" class="imageDiv">
                                        <img src="" ng-src="{{ad.imageDataUrl}}" alt="No image from user!" class="...">
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="textDiv">
                                        {{ad.text}}
                                    </div>
                                    <div class="infoDiv">
                                        <div style="...">
                                            <h4>Town: </h4><span class="spanText2">{{ad.townName}}</span>
                                        </div>
                                        <div style="...">
                                            <h4>Category: </h4><span class="spanText2">{{ad.categoryName}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-2 statusDiv">
                <strong>Status:</strong><br />
                <div><span class="spanStatus">{{ad.status}}</span></div>
                <p class="bs-component"><a href="#/editAdv"><button class="btn btn-primary btn-lg" ng-click="confirmEditAd(ad.id)">Edit</button></a></p>
                <p class="bs-component"><button class="btn btn-primary btn-lg" ng-click="rePublishAd(ad.id);changeClass(1);changeView('/user/ads/reload');" >Publish</button></p>
                <p class="bs-component"><button class="btn btn-primary btn-lg" ng-click="confirmDeleteAd(ad.id)">Delete</button></p>
            </div>
        </li>
    </ul>
</section>

    </div>
</div>