<button ng-click="logout()" id="logout" class="btn-link">Logout</button>
<div class="col-xs-12 col-sm-2" style="margin:0;padding: 0">
    <nav class="navigation" ng-controller="Secure">
        <h3>Navigation</h3>
        <hr class="hrStyle">
        <ul style="padding: 10px;text-align: left;margin-bottom: 20px">
            <li ng-class="{ 'active': 1 == link }" ng-click="linkClicked(1);
                                changeView('/user/home')"><h4>Home</h4></li>
            <li ng-class="{ 'active': 2 == link }" ng-click="linkClicked(2);
                                changeView('/user/ads');changeClass(1)"><h4>My Ads</h4></li>
            <li ng-class="{ 'active': 3 == link }" ng-click="linkClicked(3);
                                changeView('/user/ads/publish')"><h4>Publish New Ad</h4></li>
            <li ng-class="{ 'active': 4 == link }" ng-click="linkClicked(4);
                                changeView('/user/profile')"><h4>Edit Profile</h4></li>
        </ul>
    </nav>
    <nav class="navigation">
        <h3>My Ads</h3>
        <hr class="hrStyle">
        <ul style="padding: 10px;text-align: left;margin-bottom: 20px">
            <li ng-class="{ 'active': 1 == link2 }" ng-click="choiseType('all');
                        changeClass(1)"><h4>All</h4></li>
            <li ng-class="{ 'active': 2 == link2 }" ng-click="choiseType('Published');
                        changeClass(2)"><h4>Published</h4></li>
            <li ng-class="{ 'active': 3 == link2 }" ng-click="choiseType('WaitingApproval');
                        changeClass(3)"><h4>Waiting approval</h4></li>
            <li ng-class="{ 'active': 4 == link2 }" ng-click="choiseType('Inactive');
                        changeClass(4)"><h4>Inactive</h4></li>
            <li ng-class="{ 'active': 5 == link2 }" ng-click="choiseType('Rejected');
                        changeClass(5)"><h4>Rejected</h4></li>
        </ul>
    </nav>
</div>

<section class="col-xs-12 col-sm-10" style="display: inline-block;position: relative">
    <ul>
        <li ng-repeat="ad in adsByUser|filter:choiseTypeAd.status" class="row userAd">
            <div class="col-xs-12 col-sm-10 divInfoAdUser">
                <div class="pull-left"><h2>{{ad.title}}</h2></div>
                <div class="pull-right">{{ad.date|date:'dd-MMM-yyyy'}}</div>
                <div class="clearfix"></div>
                <div class="imageDiv"><img ng-src="{{ad.imageDataUrl}}" alt="No image from user!" style="width: 100%" /></div>
                <div class="textDiv">
                    {{ad.text}}
                </div>
                <div class="infoDiv">
                    <div style="margin: 10px;">
                        <h4>Town: </h4><span class="spanText2">{{ad.townName}}</span>
                    </div>
                    <div style="margin: 10px;">
                        <h4>Category: </h4><span class="spanText2">{{ad.categoryName}}</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-2 statusDiv">
                <strong>Status:</strong><br />
                <div><span class="spanStatus">{{ad.status}}</span></div>
                <!--ng-class="{'disabled':ad.status=='Inactive'}"-->
                <button class="btn btn-danger deactivateBut" ng-if="ad.status=='Published'||ad.status=='WaitingApproval'"  ng-click="deactivateAd(ad.id);changeClass(1);changeView('/user/ads/reload');" >Deactivate</button>
                <button class="btn btn-danger deactivateBut" ng-if="ad.status=='Inactive'"  ng-click="confirmEditAd(ad.id)" >Edit</button>
                <button class="btn btn-danger deactivateBut" ng-if="ad.status=='Inactive'"  ng-click="rePublishAd(ad.id);changeClass(1);changeView('/user/ads/reload');" >Publish Again</button>
                <button class="btn btn-danger deactivateBut" ng-if="ad.status=='Inactive'"  ng-click="confirmDeleteAd(ad.id)" >Delete</button>
            </div>
        </li>
    </ul>
</section>

