<div id="login-form" class="dialog-box">
    <h1>Edit Ad</h1>
    <p>
        <label for="title">Title:</label>
        <input type="text" id="title" />

    </p>
    <p>
        <label for="text">Text:</label>
        <input type="text" id="text" />
        <input type="text" style="width: 100px; height: 100px;"/>
    </p>
    <p>
        <label for="image">Image:</label>
        <input type="text" id="image" />
        <a href="#" class="button">Browse...</a>
        <a href="#" class="button">Change image</a>
    </p>
    <p>
        <label for="category">Category:</label>
        <input type="text" id="category" />
        <a href="#" class="button">Delete image</a>
    </p>
    <p>
        <label for="town">Town:</label>
        <input type="text" id="town" />
    </p>
    <p class="buttons">
        <a href="#" class="button">Edit</a>
        <a href="#" class="button">Cancel</a>
    <p>
</div>
