<div id="login-form" class="dialog-box">
    <h1>Edit Profile</h1>
    <p><label for="name">Name:</label></p>
    <p><input type="text" id="name" /></p>

    <p><label for="email">Email:</label></p>
    <p><input type="text" id="email" /></p>

    <p><label for="phone">Phone:</label></p>
    <p><input type="text" id="phone" /></p>

    <p><label for="town">Town:</label></p>
    <p><input type="text" id="town" /></p>

    <p class="buttons">
        <a href="#" class="button">Update</a>
        <a href="#" class="button">Cancel</a>
    <p>
</div>
<div class="dialog-box">
    <h1>Change Password</h1>
    <p><label>Old password:</label></p>
    <p><input type="password" id="oldPassword" /></p>

    <p><label>New password:</label></p>
    <p><input type="password" id="newPassword" /></p>

    <p><label>Confirm new password:</label></p>
    <p><input type="password" id="confirmNewPassword" /></p>

    <p class="buttons">
        <a href="#" class="button">Change password</a>
        <a href="#" class="button">Cancel</a>
    <p>
</div>