<div id="login-form" class="dialog-box">
    <h1>Login</h1>
    <p>
        <label for="username">Username:</label>
        <input type="text" id="username" />
    </p>
    <p>
        <label for="password">Password:</label>
        <input type="password" id="password" />
    </p>
    <p class="buttons">
        <a href="#/login" class="button">Login</a>
        <a href="#/register" class="link">Register</a>
    <p>
</div>

<div class="col-lg-6">
    <div class="well bs-component">
        <form class="form-horizontal">
            <fieldset>
                <legend>Login</legend>
                <div class="form-group">
                    <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputEmail" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                    <div class="col-lg-10">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button class="btn btn-default">Cancel</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </fieldset>
        </form>
        <div id="source-button" class="btn btn-primary btn-xs" style="display: block;">&lt; &gt;</div></div>
</div>