<div class="row" ng-controller="userCtrl">
    <div class="col-md-2">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Navigation</h3>
            </div>
            <div class="panel-body">
                <a href="#/ads">Home</a>
            </div>
            <div class="panel-body">
                <a href="#">My Ads</a>
            </div>
            <div class="panel-body">
                <a href="#/newAdv">Published New Ad</a>
            </div>
            <div class="panel-body">
                <a href="#/editProfile">Edit Profile</a>
            </div>
            <div class="panel-body">
                <a href data-ng-click="logout()" ng-controller="regLogController">Logout</a>
            </div>

        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">My Ads</h3>
            </div>
            <div class="panel-body">
                <a href="#/editAdv">All</a>
            </div>
            <div class="panel-body">
                <a href="#">Published</a>
            </div>
            <div class="panel-body">
                <a href="#">Waiting Approval</a>
            </div>
            <div class="panel-body">
                <a href="#">Inactive</a>
            </div>
            <div class="panel-body">
                <a href="#">Rejected</a>
            </div>
        </div>
    </div>
</div>